Sistema_Matricula/Presentacion_Matricula/Web References/ConsultaReniec/PersonaServiceImplService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.service.dsd.upc.edu.pe/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="PersonaServiceImplService" targetNamespace="http://ws.service.dsd.upc.edu.pe/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema elementFormDefault="unqualified" targetNamespace="http://ws.service.dsd.upc.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="obtenerPersonaDNI" type="tns:obtenerPersonaDNI" />
      <xs:element name="obtenerPersonaDNIResponse" type="tns:obtenerPersonaDNIResponse" />
      <xs:complexType name="obtenerPersonaDNI">
        <xs:sequence>
          <xs:element minOccurs="0" name="dni" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="obtenerPersonaDNIResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:persona" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="persona">
        <xs:sequence>
          <xs:element minOccurs="0" name="apellidoMaterno" type="xs:string" />
          <xs:element minOccurs="0" name="apellidoPaterno" type="xs:string" />
          <xs:element minOccurs="0" name="dni" type="xs:string" />
          <xs:element minOccurs="0" name="fechaNacimiento" type="xs:string" />
          <xs:element minOccurs="0" name="nombres" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="obtenerPersonaDNIResponse">
    <wsdl:part name="parameters" element="tns:obtenerPersonaDNIResponse" />
  </wsdl:message>
  <wsdl:message name="obtenerPersonaDNI">
    <wsdl:part name="parameters" element="tns:obtenerPersonaDNI" />
  </wsdl:message>
  <wsdl:portType name="PersonaService">
    <wsdl:operation name="obtenerPersonaDNI">
      <wsdl:input name="obtenerPersonaDNI" message="tns:obtenerPersonaDNI" />
      <wsdl:output name="obtenerPersonaDNIResponse" message="tns:obtenerPersonaDNIResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PersonaServiceImplServiceSoapBinding" type="tns:PersonaService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="obtenerPersonaDNI">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="obtenerPersonaDNI">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="obtenerPersonaDNIResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PersonaServiceImplService">
    <wsdl:port name="PersonaServiceImplPort" binding="tns:PersonaServiceImplServiceSoapBinding">
      <soap:address location="http://localhost:8080/ws-reniec/PersonaService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>